@model ListViewModel<Loot>

@{
    ViewData["Title"] = "Catalog";
}

@{
    var categories = ViewData["LootCategories"] as IEnumerable<LootCategory>;
    int currentCategory = (int)ViewData["CurrentCategory"];
    var menuText = currentCategory != 0
        ? categories
            .FirstOrDefault(category => category.LootCategoryId == currentCategory)?
            .LootCategoryName
        : "All";
}

    <div>
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @menuText
                </button>
                <div class="dropdown-menu">
                    @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Loot"
                       asp-route-category="@item.LootCategoryId">
                        @item.LootCategoryName
                    </a>
                }
                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Loot"
                       asp-route-category="0">
                        All
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-group" id="list">
                <partial name="_ListPartial" model="@Model"></partial>
            </div> 
        </div>
        <paginator
            current-page="@Model.CurrentPage"
            total-pages-number="@Model.NumberOfPages"
            action="Index"
            controller="Loot"
            category-id="@currentCategory">
            </paginator>
</div>