@page "{id:int}"
@model WebLabs_Klempach.Areas.Admin.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Loot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.LootName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.LootName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.LootDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.LootDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.LootPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.LootPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.LootImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.LootImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.LootImageMimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.LootImageMimeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loot.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loot.Category.LootCategoryId)
        </dd>
    </dl>
    
    <form method="post" class="row">
        <input type="hidden" asp-for="Loot.LootId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-info btn-admin btn-back">
            <span class="fa fa-arrow-alt-circle-left"></span>
            Back to List
        </a>
    </form>
</div>
