@model IEnumerable<WebLabs_Klempach.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Loot</label>
            </th>
            <th>
                <label>@Html.DisplayNameFor(model => model.Quantity)</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label>@item.Loot.LootName</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Delete" asp-controller="Cart" asp-route-id="@item.Loot.LootId" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete">
                    <span class="fa fa-skull-crossbones"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
